<div class="grid-row" style="border: 1px solid grey; margin-bottom: 10px;"
     onload="">
  <div class="grid-cell-100">
    <!-- TODO: Color the keyword (updated, created, deleted) instead of the background. -->
    <!-- TODO: Meaningful message when the operation fails -->
    <p>{{record.id}}. <span class="{{record.getTypeName()}}-record">{{record.getMessage()}}</span></p>
    <!--<p>{{record.getMessage()}}</p>-->

    <!--
    <a href="#" (click)="toggleCollapse()">Previous values</a>
    <div style="display: block;" [collapse]="previousValuesCollapsed">
      <pre *ngIf="record.getTypeName() != 'creation'">{{record.toJSON()}}</pre>
    </div>

    <p (click)="responseCollapsed = !responseCollapsed">Response</p>
    -->
    <p>Response: <span class="response-{{record.response.status}}">{{record.response.status}}</span> - {{record.response.statusText}}</p>
    <p>Previous values:</p>
    <pre *ngIf="record.getTypeName() != 'creation'" [innerHTML]="record.toJSON()"></pre>

    <!--<button (click)="undo(record)">Undo</button>-->
  </div>
</div>
