<div class="project">
  <div class="title">
    <span class="element-type">Resource</span>
    <h3>{{resource.name}}</h3>
  </div>

  <div class="details">
    <form class="centered">
      <!-- Row 1 -->
      <div class="grid-row">
        <div class="grid-cell-20 labeled">
          <label>id</label>
          <input disabled type="text" value="{{resource.id}}" />
        </div>

        <div class="grid-cell-50 labeled">
          <label>name</label>
          <input type="text" value="{{resource.name}}" />
        </div>

        <div class="grid-cell-30 labeled">
          <label>availability</label>
          <input type="text" value="{{resource.availability}}" />
        </div>
      </div>
      <!-- /Row 1 -->

      <!-- Row 2 -->
      <div class="grid-row">
        <div class="grid-cell-100 labeled">
          <label>description</label>
          <textarea>{{resource.description}}</textarea>
        </div>
      </div>
      <!-- /Row 2 -->

      <!-- Buttons -->
      <div class="grid-row">
        <div class="grid-cell-50 delete-button">
          <button (click)="delete()">Delete</button>
        </div>
        <div class="grid-cell-50 save-button">
          <button (click)="save()">Save</button>
        </div>
      </div>
      <!-- /Buttons -->
    </form>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
