<h3 class="active-elem-title">Active element</h3>
<div *ngIf="isFeature">
  <feature-detail [element]="element" [createElement]="false" [onElementChange]="onElementChange"></feature-detail>
</div>

<div *ngIf="isProject">
  <project-detail [element]="element" [createElement]="false" [onElementChange]="onElementChange"></project-detail>
</div>

<div *ngIf="isRelease">
  <release-detail [element]="element" [createElement]="false" [onElementChange]="onElementChange"></release-detail>
</div>

<div *ngIf="isResource">
  <resource-detail [element]="element" [createElement]="false" [onElementChange]="onElementChange"></resource-detail>
</div>

<div *ngIf="isSkill">
  <skill-detail [element]="element" [createElement]="false" [onElementChange]="onElementChange"></skill-detail>
</div>
