<div *ngIf="areFeatures">
  <div class="grid-row">
    <h3 class="list-elem-type-title">Features</h3>
    <a href="#" class="create-element" (click)="newElement()">+</a>
  </div>
  <feature-detail *ngFor="let elem of elements" [element]="elem" [createElement]="false"
                  [onElementChange]="onElementChange" (elementSelected)="onElementSelected($event)"></feature-detail>
  <feature-detail *ngIf="createElement" [createElement]="true" [onElementChange]="onElementChange" (elementCreated)="elementCreated()"></feature-detail>
  <div *ngIf="elements.length == 0">Nothing to show.</div>
</div>

<div *ngIf="areProjects">
  <div class="grid-row">
    <h3 class="list-elem-type-title">Projects</h3>
    <a href="#" class="create-element" (click)="newElement()">+</a>
  </div>
  <project-detail *ngFor="let elem of elements" [element]="elem" [createElement]="false"
                  [onElementChange]="onElementChange" (elementSelected)="onElementSelected($event)"></project-detail>
  <project-detail *ngIf="createElement" [createElement]="true" [onElementChange]="onElementChange" (elementCreated)="elementCreated()"></project-detail>
  <div *ngIf="elements.length == 0">Nothing to show.</div>
</div>

<div *ngIf="areReleases">
  <div class="grid-row">
    <h3 class="list-elem-type-title">Releases</h3>
    <a href="#" class="create-element" (click)="newElement()">+</a>
  </div>
  <release-detail *ngFor="let elem of elements" [element]="elem" [createElement]="false"
                  [onElementChange]="onElementChange"(elementSelected)="onElementSelected($event)"></release-detail>
  <release-detail *ngIf="createElement" [createElement]="true" [onElementChange]="onElementChange" (elementCreated)="elementCreated()"></release-detail>
  <div *ngIf="elements.length == 0">Nothing to show.</div>
</div>


<div *ngIf="areResources">
  <div class="grid-row">
    <h3 class="list-elem-type-title">Resources</h3>
    <a href="#" class="create-element" (click)="newElement()">+</a>
  </div>
  <resource-detail *ngFor="let elem of elements" [element]="elem" [createElement]="false"
                   [onElementChange]="onElementChange" (elementSelected)="onElementSelected($event)"></resource-detail>
  <resource-detail *ngIf="createElement" [createElement]="true" [onElementChange]="onElementChange" (elementCreated)="elementCreated()"></resource-detail>
  <div *ngIf="elements.length == 0">Nothing to show. If this is the first time selecting Resources after reloading, please
  switch to another tab and come back. This will be empty the first time due to a bug.</div>
</div>


<div *ngIf="areSkills">
  <div class="grid-row">
    <h3 class="list-elem-type-title">Skills</h3>
    <a href="#" class="create-element" (click)="newElement()">+</a>
  </div>
  <skill-detail *ngFor="let elem of elements" [element]="elem" [createElement]="false"
                [onElementChange]="onElementChange"(elementSelected)="onElementSelected($event)"></skill-detail>
  <skill-detail *ngIf="createElement" [createElement]="true" [onElementChange]="onElementChange" (elementCreated)="elementCreated()"></skill-detail>
  <div *ngIf="elements.length == 0">Nothing to show.</div>
</div>
