<div class="project">
  <div class="title">
    <span class="element-type">Skill</span>
    <h3>{{skill.name}}</h3>
  </div>

  <div class="details">
    <form class="centered">
      <!-- Row 1 -->
      <div class="grid-row">
        <div class="grid-cell-20 labeled">
          <label>id</label>
          <input disabled type="text" value="{{skill.id}}" />
        </div>

        <div class="grid-cell-80 labeled">
          <label>name</label>
          <input [(ngModel)]="skill.name" name="name" type="text" value="{{skill.name}}" />
        </div>
      </div>
      <!-- /Row 1 -->

      <!-- Row 2 -->
      <div class="grid-row">
        <div class="grid-cell-100 labeled">
          <label>description</label>
          <textarea [(ngModel)]="skill.description" name="description">{{skill.description}}</textarea>
        </div>
      </div>
      <!-- /Row 2 -->

      <!-- Buttons -->
      <div class="grid-row">
        <div class="grid-cell-50 delete-button">
          <button (click)="delete()">Delete</button>
        </div>
        <div class="grid-cell-50 save-button">
          <button (click)="update()">Save</button>
        </div>
      </div>
      <!-- /Buttons -->
    </form>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
