<div>
  <!-- HEADER -->
  <div id="header" class="grid-row">
    <div id="title" class="grid-cell-50">
      <h2>{{title}}</h2>
    </div>
    <div id="url-selector" class="grid-cell-50">
      <div class="centered">
        <select (change)="setApiUrl($event.target.value)">
          <option value="http://localhost:3000/api/ui/v1">Local (http://localhost:3000/api/ui/v1)</option>
          <option value="http://62.14.219.13:8280/replan">??? (http://62.14.219.13:8280/replan)</option>
        </select>
      </div>
    </div>
  </div>
  <nav id="navbar" class="grid-row">
    <div class="grid-cell-40"></div>

    <div class="grid-cell-60 no-padding">
      <div class="grid-cell-90 no-padding centered">
        <a href="#" *ngFor="let tab of validTabs"
           [class.selected]="tab === selectedTab"
           id="{{tab.toLowerCase()}}-tab-btn"
           (click)="onTabSelected(tab)">
          {{tab}}
        </a>
      </div>
    </div>
  </nav>
  <nav id="breadcrumbs" class="grid-row">
    <div class="grid-cell-100">
      <a href="#" style="text-decoration: none; padding-left: 10px;" (click)="onTabSelected('AllProjects')">All projects</a>
      <span *ngFor="let element of breadcrumbs">
        &nbsp;&nbsp;>
        <a href="#" style="text-decoration: none; padding-left: 10px;"
         (click)="onBreadcrumbSelected(element)">{{element.name}} </a>
      </span>
    </div>
  </nav>

  <div class="clear"></div>

  <!-- CONTENT -->
  <div *ngIf="activeElement">
    <div class="grid-cell-20">
      <active-element [element]="activeElement" [onElementChange]="this"></active-element>
    </div>

    <div class="grid-cell-60">
      <element-list [elements]="relatedElements" [onElementChange]="this" (elementSelected)="onElementSelected($event)"></element-list>
    </div>

    <div class="grid-cell-20">
      <change-record></change-record>
    </div>
  </div>
</div>

