<div class="project">
  <div class="title">
    <span class="element-type">Project</span>
    <h3>{{element.name}}</h3>
  </div>

  <div class="details">
    <form class="centered">
      <!-- Row 1 -->
      <div class="grid-row">
        <div class="grid-cell-30 labeled">
          <label>id</label>
          <input disabled type="text" value="{{createElement ? '' : element.id}}" />
        </div>

        <div class="grid-cell-70 labeled">
          <label>name</label>
          <input #d (blur)="element.name=d.value" disabled="{{createElement ? null : true}}" type="text" value="{{createElement ? '' : element.name}}" />
        </div>
      </div>
      <!-- /Row 1 -->

      <!-- Row 2 -->
      <div class="grid-row">
        <div class="grid-cell-100 labeled">
          <label>description</label>
          <textarea #e (blur)="element.description=e.value" disabled="{{createElement ? null : true}}">{{createElement ? '' : element.description}}</textarea>
        </div>
      </div>
      <!-- /Row 2 -->

      <!-- Row 3 -->
      <div class="grid-row">
        <div class="grid-cell-50 labeled">
          <label>effort_unit</label>
          <input #a (blur)="element.effort_unit=a.value" name="effort_unit" type="text" value="{{createElement ? '' : element.effort_unit}}">
        </div>
        <div class="grid-cell-50 labeled">
          <label>hours_per_effort_unit</label>
          <input #b (blur)="element.hours_per_effort_unit=b.value" name="hours_per_effort_unit" type="text" value="{{createElement ? '' : element.hours_per_effort_unit}}">
        </div>
      </div>
      <!-- /Row 3 -->

      <!-- Row 4 -->
      <div class="grid-row">
        <div class="grid-cell-100 labeled">
          <label>hours_per_week_and_full_time_resource</label>
          <input #c (blur)="element.hours_per_week_and_full_time_resource=c.value" name="hours_per_week_and_full_time_resource" type="text" value="{{createElement ? '' : element.hours_per_week_and_full_time_resource}}">
        </div>
      </div>

      <!-- Buttons -->
      <div *ngIf="!createElement" class="grid-row">
        <div class="grid-cell-33 delete-button">
          <button (click)="remove()">Delete</button>
        </div>

        <div class="grid-cell-33 save-button">
          <button (click)="onElementSelected(this.element)">Select</button>
        </div>

        <div class="grid-cell-33 save-button">
          <button (click)="update()">Save</button>
        </div>
      </div>

      <div *ngIf="createElement">
        <div class="grid-cell-50 delete-button">
          <button (click)="cancelCreation()">Cancel</button>
        </div>
        <div class="grid-cell-50 save-button">
          <button (click)="save()">Save</button>
        </div>
      </div>
      <!-- /Buttons -->
    </form>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
