<div class="project">
  <div class="title">
    <span class="element-type">Release</span>
    <h3>{{element.name}}</h3>
  </div>

  <div class="details">
    <form class="centered">
      <!-- Row 1 -->
      <div class="grid-row">
        <div class="grid-cell-20 labeled">
          <label>id</label>
          <input disabled type="text" value="{{element.id}}" />
        </div>

        <div class="grid-cell-80 labeled">
          <label>name</label>
          <input #a (blur)="element.name=a.value" name="name" type="text" value="{{createElement ? '' : element.name}}" />
        </div>
      </div>
      <!-- /Row 1 -->

      <!-- Row 2 -->
      <div class="grid-row">
        <div class="grid-cell-100 labeled">
          <label>description</label>
          <textarea #b (blur)="element.description=b.value" name="description">{{createElement ? '' : element.description}}</textarea>
        </div>
      </div>
      <!-- /Row 2 -->

      <!-- Row 3 -->
      <div class="grid-row">
        <div class="grid-cell-100 labeled">
          <label>starts at</label>
          <input #c (blur)="element.starts_at=c.value" name="starts_at" type="text" value="{{createElement ? '' : element.starts_at}}" />
        </div>
      </div>
      <!-- /Row 3 -->

      <!-- Row 4 -->
      <div class="grid-row">
        <div class="grid-cell-100 labeled">
          <label>deadline</label>
          <input #d (blur)="element.deadline=d.value" name="deadline" type="text" value="{{createElement ? '' : element.deadline}}" />
        </div>
      </div>
      <!-- /Row 4 -->

      <!-- Buttons -->
      <div *ngIf="!createElement" class="grid-row">
        <div class="grid-cell-33 delete-button">
          <button (click)="remove()">Delete</button>
        </div>

        <div class="grid-cell-33 save-button">
          <button (click)="onElementSelected(this.element)">Select</button>
        </div>

        <div class="grid-cell-33 save-button">
          <button (click)="update()">Save</button>
        </div>
      </div>

      <div *ngIf="createElement">
        <div class="grid-cell-50 delete-button">
          <button (click)="cancelCreation()">Cancel</button>
        </div>
        <div class="grid-cell-50 save-button">
          <button (click)="save()">Save</button>
        </div>
      </div>
      <!-- /Buttons -->
    </form>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
