<div class="project">
  <div class="title">
    <span class="element-type">Project</span>
    <h3>{{project.name}}</h3>
  </div>

  <div class="details">
    <form class="centered">
      <!-- Row 1 -->
      <div class="grid-row">
        <div class="grid-cell-30 labeled">
          <label>id</label>
          <input disabled type="text" value="{{project.id}}" />
        </div>

        <div class="grid-cell-70 labeled">
          <label>name</label>
          <input disabled type="text" value="{{project.name}}" />
        </div>
      </div>
      <!-- /Row 1 -->

      <!-- Row 2 -->
      <div class="grid-row">
        <div class="grid-cell-100 labeled">
          <label>description</label>
          <textarea disabled>{{project.description}}</textarea>
        </div>
      </div>
      <!-- /Row 2 -->

      <!-- Row 3 -->
      <div class="grid-row">
        <div class="grid-cell-50 labeled">
          <label>effort_unit</label>
          <input type="text" value="{{project.effort_unit}}">
        </div>
        <div class="grid-cell-50 labeled">
          <label>hours_per_effort_unit</label>
          <input type="text" value="{{project.hours_per_effort_unit}}">
        </div>
      </div>
      <!-- /Row 3 -->

      <!-- Row 4 -->
      <div class="grid-row">
        <div class="grid-cell-100 labeled">
          <label>hours_per_week_and_full_time_resource</label>
          <input type="text" value="{{project.hours_per_week_and_full_time_resource}}">
        </div>
      </div>

      <!-- Buttons -->
      <div class="grid-row">
        <div class="grid-cell-50 delete-button">
          <button (click)="delete()">Delete</button>
        </div>
        <div class="grid-cell-50 save-button">
          <button (click)="save()">Save</button>
        </div>
      </div>
      <!-- /Buttons -->
    </form>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
